{# BESOIN DE array utilisateurs, Tableau tableau #}
{% extends "base.html.twig" %}

{% block page_title %}Trollé{% endblock %}

{% block page_content %}
    <div>
        <form method="post" action="controleurFrontal.php">
            <fieldset>
                <h3>Ajout d'un membre au tableau <?= $tableau->getTitreTableau() ?>:</h3>
                <p>
                    <label for="login">Membre à ajouter&#42;</label> :
                    <select name="login" id="login">
                        {% for utilisateur in utilisateurs %}
                        <option value="{{ utilisateur.login }}">{{ utilisateur.prenom }} {{ utilisateur.nom }} ({{ utilisateur.login }})</option>
                        {% endfor %}
                    </select>
                </p>
                <input type='hidden' name='idTableau' value='{{ tableau.idTableau }}'>
                <input type='hidden' name='action' value='ajouterMembre'>
                <input type='hidden' name='controleur' value='tableau'>
                <p>
                    <input type="submit" value="Ajouter">
                </p>
            </fieldset>
        </form>
    </div>
{% endblock %}