{# BESOIN DE : Tableau[] tableaux, idUtilisateurconnecte #}
{% extends "base.html.twig" %}

{% block page_title %}Trollé{% endblock %}

{% block page_content %}
    <div>
        <h3>Mes tableaux ({{ length(tableaux) }})</h3>
        <div class="tableaux">
            {% for tableau in tableaux %}
            <div class="ligne_tableau">
                <div>{{ tableau.titreTableau }}</div>
                <div>
                    <a href="{{ route('afficherTableau') }}">{# TODO A MODIFIER SUREMENT #}
                        Modifier
                    </a>
                </div>
                <div>
                    {% if tableau.estProprietaire(idUtilisateurConnecte) %}
                    <a href="{{ route('supprimerTableau') }}">Supprimer le tableau</a> {# TODO A MODIFIER SUREMENT #}
                    {% else %}
                    <a href="{{ route('mettreAJourTableau') }}">Quitter le tableau</a> {# TODO A MODIFIER SUREMENT #}
                    {% endif %}
                </div>
            </div>

            {%endfor%}

        </div>
        <div>
            <a href='{{route('creerTableau')}}'>Ajouter un tableau</a>
        </div>
    </div>

{% endblock %}