{# BESOIN DE : Tableau[] tableaux, connexionUtilisateur.loginUtilisateurConnecte #}
{% extends "base.html.twig" %}

{% block page_title %}Trollé{% endblock %}

{% block page_content %}

    <div>
        <h3>Mes tableaux ({{ tableaux|length }})</h3>
        <div class="tableaux">
            {% for tableau in tableaux %}

            <div class="ligne_tableau">
                <div>{{ tableau.titreTableau }}</div>
                <div>
                    <a href="{{ route('afficherTableau', {codeTableau : tableau.codeTableau}) }}">{# TODO A MODIFIER SUREMENT #}
                        Modifier
                    </a>
                </div>
                <div>
                    {% if tableau.utilisateur.login == connexionUtilisateur.loginUtilisateurConnecte %}
                    <a href="{{ route('supprimerTableau', {idTableau : tableau.idTableau}) }}">Supprimer le tableau</a> {# TODO A MODIFIER SUREMENT #}
                    {% else %}
                    <a href="{{ route('quitterTableau', {idTableau : tableau.idTableau}) }}">Quitter le tableau</a> {# TODO A MODIFIER SUREMENT #}
                    {% endif %}
                </div>
            </div>

            {%endfor%}

        </div>
        <div>
            <a href='{{route('afficherFormulaireCreationTableau')}}'>Ajouter un tableau</a>
        </div>
    </div>

{% endblock %}