{# Tableau $tableau  Colonne[] $colonnes,  Carte[][] $data, array $participants #}
{% extends "base.html.twig" %}

{% block page_title %}Trollé{% endblock %}

{% block page_content %}

    {# TODO : appliquer les droits d'accès en fonction des utilisateurs ! #}

    <script type="text/javascript">let siteBase = "{{ asset('.') }}";
        let apiBase = siteBase + "/api";</script>

    <script>
        let bulletsImageUrl = "{{ asset('../tests/bullets.png') }}";
        let plusImageUrl = "{{ asset('../tests/plus.png') }}";
    </script>

    <img src="{{ asset('../ressources/img/wait.gif') }}" class="waiting" alt="">

    <p>{{ tableau.utilisateur.nom is null }}</p>
    <div class="all">

        <div class="infos">
            <h3>{{ tableau.titreTableau }}</h3>
            <div class="allUsers">
                <h4>Collaborateurs :</h4>
                <span class="user"
                      data-onhover="utilisateur.afficherContenuUtilisateur({{ tableau.utilisateur.login }})"
                      data-onleave="utilisateur.cacherContenuUtilisateur({{ tableau.utilisateur.login }})"
                      data-user="{{ tableau.utilisateur.login }}"
                      data-onload="utilisateur.MAJUtilisateursDepuisBaseDeDonnees"> {{ tableau.utilisateur.prenom|slice(0,1) }}{{ tableau.utilisateur.nom|slice(0,1) }}</span>
                <div class="contenuUtilisateur {{ tableau.utilisateur.login }}"></div>

                {% for participant in collaborateurs %}
                    <span class="user" data-onhover="utilisateur.afficherContenuUtilisateur({{ participant.login }})"
                          data-onleave="utilisateur.cacherContenuUtilisateur({{ participant.login }})"
                          data-user="{{ participant.login }}">{{ participant.prenom|slice(0,1) }}{{ participant.nom|slice(0,1) }}</span>
                    <div class="contenuUtilisateur {{ participant.login }}"></div>
                {% endfor %}
            </div>
        </div>


        <div class="ul">

            {% for i in 0..data|length-1 %}
                <div class="draggable" data-columns="{{ colonnes[i].idColonne }}" draggable="true">
                    <!-- Entete de la colonne avec son titre et ses bullets -->
                    <div class="entete">
                        <h5 class="main" draggable="true">{{ colonnes[i].titreColonne }}</h5>
                        <div class="bullets"><img src="{{ asset('../tests/bullets.png') }}" alt=""></div>
                    </div>

                    <!-- Stockage des cartes -->
                    <div class="stockage" data-columns="{{ colonnes[i].idColonne }}">

                        {% for carte in data[i] %}
                            <div class="card" data-card="{{ carte.idCarte }}">
                                <span class="color" style="border : 5px solid {{ carte.couleurCarte }}"></span>
                                {{ carte.titreCarte }}
                                <div class="features">
                                    {% for idCarte,utilisateurs in participants %}
                                        {% if idCarte == carte.idCarte %}
                                            {% for utilisateur in utilisateurs %}
                                                <span class="user"
                                                      data-user="{{ utilisateur.login }}">{{ utilisateur.prenom|slice(0,1) }}{{ utilisateur.nom|slice(0,1) }}</span>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="add" data-columns="{{ colonnes[i].idColonne }}">
                        <img src="{{ asset('../tests/plus.png') }}" alt="">
                        Ajouter une carte
                    </div>
                </div>
            {% endfor %}

            <!-- Pour ajouter de nouvelles colonnes -->
            <div class="adder" data-tableau="{{ tableau.idTableau }}">
                <label>
                    <input type="text" maxlength="20" data-reactiveInput="formulaireAjoutColonne.titre"
                           data-onEnter="formulaireAjoutColonne.envoyerFormulaireCreerColonne" class="input"
                           placeholder="Ajouter une colonne"/>
                </label>
                <span class="addCard" data-onclick="formulaireAjoutColonne.envoyerFormulaireCreerColonne">OK</span>
            </div>
        </div>

        <!-- Menu pour modifier/supprimer une colonne (appelé depuis les bullets) -->
        <div class="menuColonnes">
            <img src="{{ asset('../tests/close.png') }}" alt="" class="close">
            <div class="deleteColumn">
                <h5>Supprimer</h5>
                <img src="{{ asset('../tests/bin.png') }}" alt="">
            </div>
            <div class="updateColumn">
                <h5>Modifier</h5>
                <img src="{{ asset('../tests/edition.png') }}" alt="">
            </div>
        </div>

    </div>

    <div class="formulaireCreationCarte" data-modif="">
        <div class="wrap"><h2 class="titreCreationCarte">Création d'une carte</h2> <img class="closeCard"
                                                                                        src="{{ asset('../tests/close.png') }}"
                                                                                        alt="">
        </div>
        <input type="hidden" class="idColonne" value="">
        <div class="content"><h4>Titre de la carte :</h4>
            <input maxlength="30" required
                   data-reactiveInput="formulaireAjoutCarte.titre" type="text"
                   class="inputCreationCarte"
                   placeholder="Entrez le titre de la carte">
        </div>
        <div class="content"><h4>Description de la carte :</h4>
            <textarea maxlength="200"
                      data-reactiveInput="formulaireAjoutCarte.description"
                      class="desc"
                      placeholder="Description de la carte...">
        </textarea>
        </div>
        <div class="content"><h4>Couleur de la carte :</h4>
            <input required type="color"
                   data-reactiveInput="formulaireAjoutCarte.couleur">
        </div>
        <div class="content"><h4>Membres affectés :</h4>
            <div class="listeParticipants" data-htmlfun="formulaireAjoutCarte.afficherCheckBoxParticipants">

            </div>
            <div class="listeNouveauxParticipants"></div>
        </div>
        <div class="boutonCreation" data-onclick="formulaireAjoutCarte">Créer</div>
    </div>


    <div class="formulaireAjoutMembreTableau" data-tableau="{{ tableau.idTableau }}">
        <div class="wrap"><h2>Ajout de Collaborateurs</h2> <img onclick="listenerFermerAjoutMembre()" class="closeCard"
                                                                src="{{ asset('../tests/close.png') }}"
                                                                alt="">
        </div>
        <div class="content"><h4>Adresse mail du collaborateur :</h4>

            <input type="email" data-reactiveInput="formulaireAjoutParticipant.adresseMailARechercher"
                   data-onChange="formulaireAjoutParticipant.rechercherDebutAdresseMail"
                   class="inputAjoutMembre" placeholder="Entrez l'adresse mail du collaborateur">
            <div class="listeAjouter"></div>
            <div class="checkBoxCollaborateurs"
                 data-htmlfun="formulaireAjoutParticipant.ajouterCheckboxPourUtilisateur"></div>
        </div>
        <div data-onclick="formulaireAjoutParticipant.envoyerFormulaireAjoutMembre" class="boutonAjout">Terminer</div>
    </div>


    <div class="formulaireModificationColonne">
        <div class="wrap">
            <h2>Modification de la colonne</h2>
            <img class="closeColumn" src="{{ asset('../tests/close.png') }}" alt="">
        </div>
        <div class="content">
            <h4>Nouveau titre :</h4>
            <input maxlength="30" required type="text"
                   class="inputModificationColonne" data-reactiveInput="formulaireModificationColonne.titre"
                   placeholder="Entrez le nouveau titre">
        </div>
        <div class="boutonModification" data-onclick="formulaireModificationColonne.modifierColonne">Modifier</div>
    </div>


{% endblock %}