{# Tableau $tableau  Colonne[] $colonnes,  Carte[][] $data, array $participants #}
{% extends "base.html.twig" %}

{% block page_title %}Trollé{% endblock %}

{% block page_content %}

    <script type="text/javascript">let siteBase = "{{ asset('.') }}";
        let apiBase = siteBase + "/api";</script>

    <p>{{ tableau.utilisateur.nom is null }}</p>
    <div class="all">

        <div class="infos">
            <h3>{{ tableau.titreTableau }}</h3>
            <div class="allUsers">
                <h4>Collaborateurs :</h4>
                <span class="user"> {{ tableau.utilisateur.nom|slice(0,1) }}</span>
                {% for participant in tableau.participants %}
                    <span class="user">{{ partipant.prenom|slice(0,1) }} {{ participant.nom|slice(0,1) }}</span>
                {% endfor %}
                <div class="invite">Partager <img src="{{ asset('../tests/inviter.png') }}" alt=""></div>
            </div>
        </div>

        <div class="ul">

            {% for i in 0..data|length-1 %}
                <div class="draggable" data-columns="{{ colonnes[i].idColonne }}" draggable="true">
                    <!-- Entete de la colonne avec son titre et ses bullets -->
                    <div class="entete">
                        <h5 class="main" draggable="true">{{ colonnes[i].titreColonne }}</h5>
                        <div class="bullets"><img src="{{ asset('../tests/bullets.png') }}" alt=""></div>
                    </div>

                    <!-- Stockage des cartes -->
                    <div class="stockage" data-columns="{{ colonnes[i].idColonnne }}">

                        {% for carte in data[i] %}
                            <div class="card">
                                <span class="color" style="border : 5px solid {{ carte.couleurCarte }}"></span>
                                {{ carte.titreCarte }}
                                <div class="features">

                                    {% for utilisateur in carte.affectationCarte %}
                                        <span class="user">{{ utilisateur.prenom[0] }} {{ utilisateur.nom[0] }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="add" data-columns="{{ colonnes[i].idColonne }}">
                        <img src="{{ asset('../tests/plus.png') }}" alt="">
                        Ajouter une carte
                    </div>
                </div>
            {% endfor %}


            <!-- Pour ajouter de nouvelles colonnes -->
            <div class="adder">
                <label>
                    <input type="text" class="input" placeholder="Ajouter une colonne"/>
                </label>
                <span class="addCard">OK</span>
            </div>
        </div>

        <!-- Menu pour modifier/supprimer une colonne (appelé depuis les bullets) -->
        <div class="menuColonnes">
            <img src="{{ asset('../tests/close.png') }}" alt="" class="close">
            <div class="deleteColumn">
                <h5>Supprimer</h5>
                <img src="{{ asset('../tests/bin.png') }}" alt="">
            </div>
            <div class="updateColumn">
                <h5>Modifier</h5>
                <img src="{{ asset('../tests/edition.png') }}" alt="">
            </div>
        </div>

    </div>

    <div class="formulaireCreationCarte">
        <div class="wrap"><h2>Création d'une carte</h2> <img class="closeCard" src="{{ asset('../tests/close.png') }}"
                                                             alt="">
        </div>
        <input type="hidden" class="idColonne" data-reactiveInput="formulaireAjoutCarte.idColonne">
        <div class="content"><h4>Titre de la carte :</h4>
            <input maxlength="50" required
                   data-reactiveInput="formulaireAjoutCarte.titre" type="text"
                   class="inputCreationCarte"
                   placeholder="Entrez le titre de la carte">
        </div>
        <div class="content"><h4>Description de la carte :</h4>
            <textarea maxlength="255"
                      data-reactiveInput="formulaireAjoutCarte.description"
                      class="desc"
                      placeholder="Description de la carte...">
        </textarea>
        </div>
        <div class="content"><h4>Couleur de la carte :</h4>
            <input required type="color"
                   data-reactiveInput="formulaireAjoutCarte.couleur">
        </div>
        <div class="content"><h4>Membres affectés :</h4>
            {% if participants|length > 0 %}
                {% for participant in participants %}
                    <label>
                        <input type="checkbox"
                               data-reactiveInput="formulaireAjoutCarte.affectation"
                               value="{{ participant.idUtilisateur }}">
                        {{ participant.prenom }} {{ participant.nom }}
                    </label>
                {% endfor %}
            {% else %}
                <p>Il n'y a pas de collaborateurs pour le moment. <a href="">Ajouter des collaborateurs</a></p>
            {% endif %}
        </div>
        <div class="boutonCreation" data-onclick="formulaireAjoutCarte.envoyerFormulaire">Créer</div>
    </div>


    <div class="formulaireAjoutMembreTableau">
        <div class="wrap"><h2>Ajout d'un collaborateur</h2> <img onclick="listenerFermerAjoutMembre()" class="closeCard"
                                                                 src="{{ asset('../tests/close.png') }}"
                                                                 alt="">
        </div>
        <div class="content"><h4>Adresse mail du collaborateur :</h4>
            <label>
                <input type="email" data-reactiveIput="formulaireAjoutParticipant.rechercherDebutAdresseMail" class="inputCreationCarte" placeholder="Entrez l'adresse mail du collaborateur">
            </label>
        </div>
        <div data-onclick="formulaireAjoutParticipant.envoyerFormulaire" class="boutonAjout">Terminer</div>
    </div>


{% endblock %}