{# BESOIN DE : Carte carte, Colonne colonne #}
{% extends "base.html.twig" %}

{% block page_title %}Trollé{% endblock %}

{% block page_content %}
    {{ set  loginaffecte = }} {# trouver comment faire array map #}
    {{ set colonneCarte = carte.colonne }}
    {{ set tableau = colonneCarte.tableau }}
    {{ set proprietaire = tableau.utilisateur }}
    <div>
        <form method="post" action="controleurFrontal.php">
            <fieldset>
                <h3>Modification d'une carte :</h3>
                <p>
                    <label for="titreCarte">Titre de la carte&#42;</label> :
                    <input type="text" placeholder="Ma super tâche" name="titreCarte" id="titreCarte" value="{{ carte.titreCarte }}" minlength="1" maxlength="50" required>
                </p>
                <p>
                    <label for="descriptifCarte">Description de la carte&#42;</label> :
                <div>
                    <textarea placeholder="Description de la tâche..." name="descriptifCarte" id="descriptifCarte" required>{{ carte.descriptifCarte }}</textarea>
                </div>
                </p>
                <p>
                    <label for="couleurCarte">Couleur de la carte&#42;</label> :
                    <input type="color" value="{{ carte.couleurCarte }}" name="couleurCarte" id="couleurCarte" required>
                </p>
                <p>
                    <label for="idColonne">Colonne de la carte&#42;</label> :
                    <select name="idColonne" id="idColonne">
                        {% for colonne in colonnes %}
                        <option {% if colonne.idColonne === colonneCarte.idColonne %} selected{% endif %} value="{{ colonne.idColonne }}" > <!-- TODO check si selected fonctionne bien et si correspond à === où à l'inverse-->
                            {{ colonne.titreColonne }}
                        </option>
                        {% endfor %}
                    </select>
                </p>
                <p>
                    <label for="affectationsCarte">Membres affectés :</label>
                <div>
                    <select multiple name="affectationsCarte[]" id="affectationsCarte">

                        <option {{ proprietaire.login in loginsAffectes ? "selecter" : "" }} value="{{ proprietaire.login }}">{{ proprietaire.prenom }} {{ proprietaire.nom }} ({{ proprietaire.login }})</option>
                        <?php foreach ($tableau->getParticipants() as $membre) {?>
                        <option {{membre.login in loginsAffectes ? "selected" : "" }} value="{{ membre.login }}"> {{ membre.prenom }} {{ membre.nom }} ({{ membre.login }})</option>
                        <?php }}?>
                    </select>
                </div>
                </p>
                <input type='hidden' name='idCarte' value='<?= htmlspecialchars($carte->getIdCarte()) ?>'>
                <input type='hidden' name='action' value='mettreAJourCarte'>
                <input type='hidden' name='controleur' value='carte'>
                <p>
                    <input type="submit" value="Mettre à jour la carte">
                </p>
            </fieldset>
        </form>
    </div>
{% endblock %}