{# BESOIN DE Utilisateur utilisateur #}
{% extends "base.html.twig" %}

{% block page_title %}Trollé{% endblock %}

{% block page_content %}
    <div>
        <form method="post" action="{{ route('mettreAJour', {"login" : connexionUtilisateur.loginUtilisateurConnecte}) }}">
            <fieldset>
                <h3>Mise à jour du profil</h3>
                <p >
                    <label  for="login_id">Login&#42;</label>
                    <input  type="text" value="{{ utilisateur.login }}" minlength="3" maxlength="30" placeholder="Ex : rlebreton" name="login" id="login_id" readonly>
                </p>
                <p >
                    <label  for="prenom_id">Prenom&#42;</label>
                    <input  type="text" value="{{ utilisateur.prenom }}" minlength="1" maxlength="30" placeholder="Ex : Romain" name="prenom" id="prenom_id" required>
                </p>
                <p >
                    <label  for="nom_id">Nom&#42;</label>
                    <input  type="text" value="{{ utilisateur.nom }}" minlength="1" maxlength="30"  placeholder="Ex : Lebreton" name="nom" id="nom_id" required>
                </p>
                <p >
                    <label  for="email_id">Email&#42;</label>
                    <input  type="email" value="{{ utilisateur.email }}" maxlength="255" placeholder="rlebreton@yopmail.com" name="email" id="email_id" required>
                </p>

                <p>
                    <input formmethod="get" formaction="{{ route('changerMotDePasse', {"login" : connexionUtilisateur.loginUtilisateurConnecte}) }}" type="submit" value="Changer le mot de passe"/>
                </p>
                <p>
                    <input type="submit" value="Mettre à jour"/>
                </p>
            </fieldset>
        </form>
    </div>
{% endblock %}